// BACKGROUN IMAGES

.header__img--inf {
    background-image: url(../Media/libreriafondo.jpg);
}

.main {
    overflow: hidden;
}

.main__img1 {
    background-image: url(../Media/contam.jpg);
    background-position: center;
    background-size: cover;
}

.main__img2 {
    background-image: url(../Media/opresion.jpg);
    background-position: center;
    background-size: cover;
}

.main__img3 {
    background-image: url(../Media/cicli.jpg);
    background-position: center;
    background-size: cover;
}

.main__img4 {
    background-image: url(../Media/herbo.jpg);
    background-position: center;
    background-size: cover;
}

.main__img5 {
    background-image: url(../Media/esi.jpg);
    background-position: center;
    background-size: cover;
}

// EN ESTE ARCHIVO ENCONTRARA LAS MEDIAS QUERIES DE TODA LA SECCION INFORMACION

@media (min-width: 320px) {
    .mi-nav {
        text-align: center;
    }

    .header__tit--inf {
        line-height: 1.3;
        margin-top: 250px;
    }

    .main__caja {
        height: 70px;
        margin-top: 10px;
        padding-top: 20px;
        overflow: hidden;
    }

    .futer--inf {
        margin-top: 10px;
    }

    .futer__redes--inf {
        margin-top: 10px;
    }

}

@media (min-width: 360px) {

    .mi-nav {
        text-align: center;
    }

    .header__tit--inf {
        line-height: 1.3;
        margin-top: 250px;
    }

}


@media (min-width: 375px) {
    .header__tit--inf {
        line-height: 1.3;
        margin-top: 250px;
    }

}


@media (min-width: 411px) {

    .header__tit--inf {
        line-height: 1.3;
        margin-top: 300px;
    }

}


@media (min-width: 768px) {
    .header__tit--inf {
        line-height: 1.3;
        margin-top: 300px;
    }

    .main__caja {
        height: 90px;
        padding-top: 30px;
    }

    .main_font {
        font-size: $fonts + 10;
    }

}

@media (min-width: 992px) {
    .header__tit--inf {
        line-height: 1.3;
        margin-top: 300px;
    }

    .main__caja {
        height: 90px;
        padding-top: 30px;
        margin-top: 15px;
    }

    .main_font {
        font-size: $fonts + 10;
    }

}


@media (min-width: 1024px) {
    .header__tit--inf {
        line-height: 1.3;
        margin-top: 300px;
    }

    .main__caja {
        height: 110px;
        padding-top: 35px;
        margin-top: 25px;
    }

    .main_font {
        font-size: $fonts + 13;
    }

    .futer--inf {
        margin-top: 25px;
    }

}

@media (min-width: 1200px) {
    .header__tit--inf {
        line-height: 1.3;
        margin-top: 300px;
    }

}

@media (min-width: 1600px) {
    .header__tit--inf {
        line-height: 1.3;
        margin-top: 400px;
    }

    .main__lista {
        font-size: $fonts;
    }

    .futer_redes--pro {
        margin-top: 8px;
    }
}